  
  .dropdown-label {
    display: block;
    margin-bottom: 8px;
    color: var(--color-neutral-1400);

    font-family: var(--font-family-primary);
    font-size: var(--font-size-md);
    font-style: normal;
    font-weight: 400;
    line-height: var(--line-height-body-md);
  }
  
  .custom-select {
    width: 100%;
    height:40px;
    padding: 8px 12px;
    font-size: var(--font-size-md);
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--color-neutral-200);
    background-color: var(--color-neutral-100);
    resize: none;
    color: var(--color-neutral-1400);

    font-family: var(--font-family-primary);
    font-size: var(--font-size-md);
    font-style: normal;
    font-weight: 400;
    line-height: var(--line-height-body-md);
  }
  
  .custom-select:hover,
  .custom-select:focus {
    border-color: #bbb;
    outline: none;
  }
  
  /* Flat Fee Container Styles */

/* Pricing section container */
.pricing-container {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: flex-start;
  text-align: left;
  width: 100%;
    padding: 0 24px;
}

.left-section {
  width: 100%;
  }

@media (max-width: 992px) {
  /* tablet & below – switch to single column */
  .pricing-container {
    flex-direction: column;
    gap: 16px;
  }
}

@media (max-width: 768px) {
  .pricing-container {
    padding: 0 12px;
  }
  .custom-select {
    width: 100%;
  }
}
  .flat-fee-container {
    flex-wrap: wrap;
     display: flex;
    gap: 24px;
    width: 100%;
  }

  .flat-fee-container > * {
    flex: 1;
    min-width: 0;
  }