@import "../Variables/Variables.css";

.usage-container {
  display: flex;
  justify-content: space-between;
  background: var(--color-neutral-white);
  padding: 20px;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--color-neutral-200);
  font-family: Arial, sans-serif;
  gap: 30px;
  margin-top: 30px;
}

.usage-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.usage-label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.usage-input-field {
  width: 520px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid var(--color-neutral-200);
  border-radius: var(--border-radius-sm);
}

.usage-example-section {
  flex: 1;
  background: var(--color-info-100);
  border-radius: var(--border-radius-lg);
  padding: 16px;
  border: 1px solid var(--color-neutral-200);
  width: 435px;
}

.usage-example-section h4 {
  margin: 0;
  font-size: 12px;
  color: #888;
}

.usage-example-section a {
  font-size: 14px;
  text-decoration: none;
  display: block;
  margin: 8px 0;
}

.usage-highlight {
  font-size: 16px;
  font-weight: 600;
  margin: 6px 0 12px;
  color: #333;
}

.usage-note {
  color: #666;
  font-size: 14px;
  margin-top: 8px;
}
