// Base color
$brand-primary: rgba(89, 46, 18, 100);

// GREY COLORS MAP
$grey-colors: (
  white: rgba(255, 255, 255, 1),
  100: rgba(245, 244, 245, 1),
  200: rgba(234, 233, 234, 1),
  black: rgba(18, 18, 19, 1)
);

// PRIMARY COLORS MAP (linked to $brand-primary)
$primary-colors: (
  500: $brand-primary, // ✅ reference base color
  600: darken($brand-primary, 5%),
  700: darken($brand-primary, 10%),
  400: lighten($brand-primary, 5%)
);
