@import "../Variables/Variables.css";

.sidebar {
  width: 15rem;
  height: 100vh;
  /* surface color defined in global variables */
  background-color: var(--color-primary-900);
  border-right: 0.4px solid var(--color-neutral-200);

  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

.sidebar.hidden { display: none; }

.logo {
  padding: 16px 24px 8px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 32px; 
  margin-top: 22px;
  margin-left: 15px;
}

.nav {
  flex: 1;
  padding: 4px 0 16px 0;
  overflow-y: auto;
  scrollbar-width: none;
}
.nav:hover { scrollbar-width: thin; scrollbar-color: var(--color-primary-1000) transparent; }
.nav::-webkit-scrollbar { width: 0px; }
.nav:hover::-webkit-scrollbar { width: 4px; }
.nav::-webkit-scrollbar-track { background: transparent; }
.nav::-webkit-scrollbar-thumb {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='49' viewBox='0 0 4 49' fill='none'%3E%3Cpath d='M2 2V47' stroke='%23CCCBCD' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: repeat-y; background-position: center; background-size: 4px 49px; border-radius: 2px;
}
.nav:hover::-webkit-scrollbar-thumb {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='49' viewBox='0 0 4 49' fill='none'%3E%3Cpath d='M2 2V47' stroke='%23929294' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: repeat-y; background-position: center; background-size: 4px 49px;
}

.nav ul { list-style: none; padding: 0; margin: 0; }

.nav-item {
  height: 44px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  /* spacing between items should be 2px as per design */
  margin-bottom: 2px;
  margin-right: 16px;
  margin-left: 16px;
}

.logo-text {
  color:white;
  font-family: "ABC Repro";
  font-size: 28.441px;
  font-style: normal;
  font-weight: 500; 
  line-height: 40.302px; 
  letter-spacing: -1.896px;
}

.nav-item:hover {
  background-color:var(--color-primary-800);
  border-radius: var(--border-radius-sm);
  color: var(--color-neutral-1000);
  font-weight: 600;
}

.nav-item.active {
  height: 44px;
  border-radius: var(--border-radius-sm);
  position: relative;
  z-index: 1;
  padding: 12px 16px;
  color: var(--color-neutral-100);
  font-weight: 500;
}

.nav-item.active .icon-wrapper { color: var(--color-neutral-100 )!important; }
.nav-item.active .tab-name { color: var(--color-neutral-100) !important; font-weight: 600; }

.nav-item.active::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.08);
  z-index: -1;
}

.icon-wrapper {
  width: 20px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
  color: var(--color-neutral-100);
}

.nav-item .icon-wrapper svg path {
  stroke-width: 1;
}

.nav-item.active .icon-wrapper svg path {
  stroke-width: 1.5;
}

.tab-name {
  color: var(--color-neutral-100);
  font-family: var(--font-family-primary);
  /* reduce text size to match design */
  font-size: var(--font-size-md);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-body-md);
  display: flex;
  align-items: center;
  margin-left: -10px;
}

.tab-name svg {
  margin-left: 0.5rem;
  width: 18px;
  height: 19px;
  margin-top: -10px;
  margin-left: -30px;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sub-create-price-plan {
  padding: 24px;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: var(--color-neutral-50);
  position: relative;
  overflow: hidden;
}

.sub-usage-metric-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--color-neutral-white);
  border: 1.5px solid var(--color-neutral-200);
  border-radius: var(--border-radius-sm);
  box-shadow: 0 18px 54px 0 rgba(0, 0, 0, 0.07), 0 2.254px 43.336px 0 rgba(0, 0, 0, 0.00);
  position: relative;
  overflow: hidden;
}

.sub-sidebars {
  width: 300px;
  background-color: var(--color-neutral-100);
  padding: 30px 20px;
  border-right: 1.5px solid var(--color-neutral-200);
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
/* custom scrollbar */
.sub-sidebars::-webkit-scrollbar      { width: 6px; }
.sub-sidebars::-webkit-scrollbar-track{ background: transparent; }
.sub-sidebars::-webkit-scrollbar-thumb{ background-color: #C3C2D0; border-radius:2px; }
.sub-sidebars::-webkit-scrollbar-thumb:hover{ background-color:#A9A8B5; }
.sub-sidebars::-webkit-scrollbar-thumb:active{ background-color:#878694; }
.sub-sidebars{ scrollbar-width: thin; scrollbar-color:#C3C2D0 transparent; }

.form-section {
  margin-left: 300px;
  width: calc(100% - 300px);
  height: 100%;
  overflow-y: auto;
  padding: 32px 40px;
  position: relative;
}
/* custom scrollbar */
.form-section::-webkit-scrollbar      { width: 6px; }
.form-section::-webkit-scrollbar-track{ background: transparent; }
.form-section::-webkit-scrollbar-thumb{ background-color: #C3C2D0; border-radius:2px; }
.form-section::-webkit-scrollbar-thumb:hover{ background-color:#A9A8B5; }
.form-section::-webkit-scrollbar-thumb:active{ background-color:#878694; }
.form-section{ scrollbar-width: thin; scrollbar-color:#C3C2D0 transparent; }

.rateplan-note {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  margin-top: 4px;
  flex: 1 0 0;
  color: var(--color-neutral-1400);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
  line-height: var(--line-height-body-xs);
}

.form-card {
  max-width: 100%;
  height: 100%;
}

.sub-step-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
  cursor: pointer;
}
