@import "../Variables/Variables.css";

.sidebar {
  width: 15rem;
  height: 100vh;
  /* surface color defined in global variables */
  background-color: var(--color-primary-900);
  border-right: 0.4px solid var(--color-neutral-200);

  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

.sidebar.hidden { display: none; }

.logo {
  padding: 16px 24px 8px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 32px; 
  margin-top: 22px;
  margin-left: 15px;
}

.nav {
  flex: 1;
  padding: 4px 0 16px 0;
  overflow-y: auto;
  scrollbar-width: none;
}
.nav:hover { scrollbar-width: thin; scrollbar-color: var(--color-primary-1000) transparent; }
.nav::-webkit-scrollbar { width: 0px; }
.nav:hover::-webkit-scrollbar { width: 4px; }
.nav::-webkit-scrollbar-track { background: transparent; }
.nav::-webkit-scrollbar-thumb {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='49' viewBox='0 0 4 49' fill='none'%3E%3Cpath d='M2 2V47' stroke='%23CCCBCD' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: repeat-y; background-position: center; background-size: 4px 49px; border-radius: 2px;
}
.nav:hover::-webkit-scrollbar-thumb {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='49' viewBox='0 0 4 49' fill='none'%3E%3Cpath d='M2 2V47' stroke='%23929294' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: repeat-y; background-position: center; background-size: 4px 49px;
}

.nav ul { list-style: none; padding: 0; margin: 0; }

.nav-item {
  height: 44px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  /* spacing between items should be 2px as per design */
  margin-bottom: 2px;
  margin-right: 16px;
  margin-left: 16px;
}

.logo-text {
  color:white;
  font-family: "ABC Repro";
  font-size: 28.441px;
  font-style: normal;
  font-weight: 500; 
  line-height: 40.302px; 
  letter-spacing: -1.896px;
}

.nav-item:hover {
  background-color:var(--color-primary-800);
  border-radius: var(--border-radius-sm);
  color: var(--color-neutral-1000);
  font-weight: 600;
}

.nav-item.active {
  height: 44px;
  border-radius: var(--border-radius-sm);
  position: relative;
  z-index: 1;
  padding: 12px 16px;
  color: var(--color-neutral-100);
  font-weight: 500;
}

.nav-item.active .icon-wrapper { color: var(--color-neutral-100 )!important; }
.nav-item.active .tab-name { color: var(--color-neutral-100) !important; font-weight: 600; }

.nav-item.active::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.08);
  z-index: -1;
}

.icon-wrapper {
  width: 20px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
  color: var(--color-neutral-100);
}

.nav-item .icon-wrapper svg path {
  stroke-width: 1;
}

.nav-item.active .icon-wrapper svg path {
  stroke-width: 1.5;
}

.tab-name {
  color: var(--color-neutral-100);
  font-family: var(--font-family-primary);
  /* reduce text size to match design */
  font-size: var(--font-size-md);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-body-md);
  display: flex;
  align-items: center;
  margin-left: -10px;
}

.tab-name svg {
  margin-left: 0.5rem;
  width: 18px;
  height: 19px;
  margin-top: -10px;
  margin-left: -30px;
}