/* .pr-wrapper {
  width: 100%;
  padding: 16px;
  background: var(--color-neutral-200);
} */

.product-review-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px; /* Increased gap for better separation */
}

@media (min-width: 700px) {
  .product-review-grid {
    grid-template-columns: 1fr; /* always single column */
    gap: 16px; /* Even more gap on larger screens */
  }}
/* Card */
.product-review-card {
  width: 100%;
  max-width: 585px;
  border-radius: var(--border-radius-sm);
  overflow: hidden;
}

.pr-card__header {
  padding: 8px 12px;
  background-color: var(--color-neutral-200);  
}

.pr-card__title {
  color: var(--color-neutral-1400);

  /* body/md/thin */
  font-family: var(--font-family-primary);
  font-size: var(--font-size-md);
  font-style: normal;
  font-weight: 300;
  line-height: var(--line-height-body-md, 20px); /* 142.857% */
}

