@import "./Variables.css";
.pa-page {
  min-height: 100vh;
  background: #ffffff;
  padding: 32px 24px;
  margin-left: -240px;
  overflow-x: hiddens;

}

.pa-container {
  margin: 0 auto;
}

.pa-header h1 {
  margin: 0 0 4px;
  color: var(--color-neutral-1700);

/* body/lg/bold */
font-family: var(--font-family-primary);
font-size: var(--font-size-h4);
font-style: normal;
font-weight: 700;
line-height: var(--line-height-body-lg, 24px); /* 150% */

}

.pa-header p {
  margin: 0;
 color: var(--color-neutral-1400);

/* body/sm/bold */
font-family: var(--font-family-primary, "IBM Plex Sans");
font-size: var(--font-size-sm, 12px);
font-style: normal;
font-weight: 700;
line-height: var(--line-height-body-sm, 18px); /* 150% */
}

/* 12-column grid replica */
.pa-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 3rem; /* 48px like gap-12 */
}

.pa-card {
  grid-column: span 6;
  border: 1px solid #025A94;
  border-radius: 0.75rem;
  padding: 16px;
  background-color: #ffffff;

      box-shadow: 0 0 0 1.5px rgba(29, 122, 252, 0.1);
}

.pa-card-full {
  grid-column: span 12;
}

/* optional responsive collapse */
@media (max-width: 900px) {
  .pa-card,
  .pa-card-full {
    grid-column: span 12;
  }
}
