<<<<<<< HEAD
/* @import "../Variables/Variables.css";
=======
@import "../Variables/Variables.css";
>>>>>>> main
.usage-form-wrapper {
    padding: 30px;

  }
  
  

 
  .form-cards {
    border-radius: 12px;
    padding: 30px;
    width: 100%;
    max-width: 600px;
    margin-left: -55px;
    margin-top: -60px;
  } 
  .form-groups {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: var(--color-neutral-1400);

    font-family: var(--font-family-primary);
    font-size: var(--font-size-md);
    font-style: normal;
    font-weight: 600;
    line-height: var(--line-height-body-md);
  }
  
  input[type='text'],
  select {
    width: 70%;
    height:40px;
    padding: 8px 12px;
    font-size: var(--font-size-md);
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--color-neutral-200);
    background-color: var(--color-neutral-100);
    resize: none;
    color: var(--color-neutral-1400);

    font-family: var(--font-family-primary);
    font-size: var(--font-size-md);
    font-style: normal;
    font-weight: 400;
    line-height: var(--line-height-body-md);
  }
  
  .toggle-switch {
    width: 42px;
    height: 22px;
    cursor: pointer;
  }
  
  .switch-track {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 22px;
    position: relative;
    transition: background-color 0.3s ease;
  }
  
  .switch-thumb {
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: transform 0.3s ease;
  }
  
  .switch-track.active {
    background-color: var(--color-primary-800);
  }
  
  .switch-thumb.active {
    transform: translateX(20px);
  }
<<<<<<< HEAD
   */
=======
  
>>>>>>> main
