.review-wrapper {
    
  }
  
  .review-card {
    border-radius: var(--border-radius-sm);
    padding: 20px 0;
  }
  

  .edit-metreview-container {
  width: 600px;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  background-color: var(--color-neutral-white);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
  .section {
    border-top: 1.5px solid var(--color-neutral-200);
    background-color:var(--color-neutral-100);
    padding: 20px;
    margin-left: -35px;
  }
  
  .section:first-child {
    border-top: none;
  }
  
  .section-title {
    font-size: 13px;
    font-weight: bold;
    color: #444;
    margin-bottom: 16px;
    text-transform: uppercase;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid var(--color-neutral-200);
  }
  
  .label {
    font-size: 14px;
    color: var(--color-neutral-1400);
    font-weight: 500;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-md);
    font-style: normal;
    font-weight: 600;
    line-height: var(--line-height-body-md);
  }
  
  .value {
    font-size: 14px;
    color: var(--color-neutral-1400);
  }
  
  .note {
    font-size: 12px;
    color: var(--color-neutral-1400);
    margin-top: 16px;
    padding-left: 4px;
  }
  