/* Import custom styles */
@import './client/tremor-styles.css';

/* Import Tailwind base styles */
@tailwind base;

/* Import Tailwind components */
@tailwind components;

/* Import Tailwind utilities */
@tailwind utilities;
