@import "../Variables/Variables.css";

.review-wrapper {
    width: 100%;
    padding: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #1e1e1e;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .review-section {
    background-color  : var(--color-neutral-100);
    border-radius: var(--border-radius-sm);
    padding: 16px 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  }
  
  .section-title {
    
    margin-bottom: 16px;
    text-transform: uppercase;
    color: var(--color-neutral-1400);

font-family: var(--font-family-primary);
font-size: var(--font-size-md);
font-style: normal;
font-weight: 300;
line-height: var(--line-height-body-md);
  }
  
  .review-grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    row-gap: 12px;
    column-gap: 16px;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-md);
    font-style: normal;
    font-weight: 400;
    line-height: var(--line-height-body-md);
  }
  
  .review-label {
    color: var(--color-neutral-1400);

font-family: var(--font-family-primary);
font-size: var(--font-size-md);
font-style: normal;
font-weight: 400;
line-height: var(--line-height-body-md);
  }
  
  .review-value {
    color: var(--color-neutral-1400);

    font-family: var(--font-family-primary);
    font-size: var(--font-size-md);
    font-style: normal;
    font-weight: 400;
    line-height: var(--line-height-body-md);
  }
  