@import "../Variables/Variables.css";

.breadcrumb {
  flex-wrap: wrap;
  display: flex;
  padding: 1rem;
  background-color: var(--color-neutral-white);
  margin-bottom: 8px;
  margin-left: 230px;
  width: auto;
  height: 42px;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--color-neutral-200);
}

@media (max-width: 991px) {
  .breadcrumb {
    margin: 0 8px 2rem;
    width: auto;
  }
}

.breadcrumbRight {
  margin-left: auto;
  display: flex;
  gap: 12px;
}

.breadcrumbItem { 
  display: flex;
  color: var(--color-neutral-1000);
  text-align: center;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-sm);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-body-sm);
  margin-left: 20px;

}



.breadcrumbItem.active {
  color: var(--color-neutral-800);
  text-align: center;
  
  /* body/md/reg */
  font-family: var(--font-family-primary);
  font-size: var(--font-size-md);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-body-md); /* 142.857% */
}

.breadcrumbSeparator {
  margin: 0 0.5rem;
  color: #6c757d;
}

.samButton {
  width: 40px;
  height: 40px;
  background-color: var(--color-neutral-100);
  border: 1px solid var(--color-neutral-300);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 0 12px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.samButton.selected,
.samButton.active {
  background-color: var(--color-primary-800);
  border: 1px solid var(--color-neutral-400);
  border-radius: var(--border-radius-sm);
}

.samButton:hover {
  background-color: var(--color-info-100);
  border: 1px solid var(--color-neutral-400);
  border-radius: var(--border-radius-sm);
}



.newButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  min-width: 164px;
  background-color: var(--color-primary-800);
  color: var(--color-neutral-white);
  padding: 8px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap; /* keep label on single line */

  font-family: var(--font-family-primary);
  font-size: var(--font-size-lg);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-body-lg);
  margin-left: -10px;
}

.newButton:hover {
  background-color: var(--color-primary-700);
}

.newButton.selected,
.newButton.active {
  background-color: var(--color-primary-900);
}

@media (max-width: 991px) {
  .newButton {
    margin-left: 0;
  }
}

