/* GlassAforoTile.css */

.gat {
  display: flex;
  width: 93.143px;
  height: 93.143px;
  padding: 19.959px 19.761px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.27px;

  border-radius: 26.612px;
  border: 2.117px solid var(--billable-metric-stroke---light, #F6F6F6);
  background: rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(6.653061866760254px);
  -webkit-backdrop-filter: blur(6.653061866760254px);
}

.gatSvg {
  width: 44px;   /* visually matches the tile like your screenshot */
  height: 44px;
  display: block;
}
