@import "../Variables/Variables.css";
.integration-button {
  width: 36px;
  height: 36px;
  border-radius: var(--border-radius-sm);
  border: none;
background: linear-gradient(76deg, rgba(255, 255, 255, 0.00) 25.61%, rgba(255, 255, 255, 0.20) 101.49%), var(--surface-primary-button-active, #025A94);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 8px;
}

.integration-button:hover:not(:disabled) {
background: linear-gradient(76deg, rgba(255, 255, 255, 0.00) 25.61%, rgba(255, 255, 255, 0.20) 101.49%), var(--surface-primary-button-hover, #026BB0);


  }
.integration-button:focus {
  outline: none;
}

.integration-button-icon {
  display: block;
}
