@import "../Variables/Variables.css";
.aff-integration-card {
  min-height: 130px;
  padding: 16px;
  border-radius: 12px;
  background: var(--color-neutral-white);
  position: relative;
  border:none;

box-shadow: 0 0 8px 2px var(--shadow-shadow-1, #EEF1F6);
  box-sizing: border-box;
}


.integration-card__menu {
  position: absolute;
  top: 5px;
  right: 5px;

  width: 32px;
  height: 32px;
  border-radius: 10px;
  border: none;
  background: transparent;
  color: #111827;

  display: grid;
  place-items: center;
  cursor: pointer;
}



.integration-card__top {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-right: 34px; /* space for kebab */
}

.integration-card__logoBox {
  width: 56px;
  height: 56px;
  border-radius:var(--border-radius-sm);
  background: var(--color-neutral-white);
  border: 0.97px solid var(--color-neutral-200);

  display: grid;
  place-items: center;
  flex: 0 0 auto;
}

.integration-card__logoImg {
  width: 48px;
  height: 48px;
  object-fit: contain;
  display: block;
}

.integration-card__logoNode {
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
}

.integration-card__meta {
  min-width: 0;
  flex: 1;
}

.integration-card__name {

  letter-spacing: -0.02em;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
color: var(--color-neutral-1700);
text-overflow: ellipsis;

/* body/md/bold */
font-family: var(--font-family-primary);
font-size: var(--font-size-md);
font-style: normal;
font-weight: 700;
line-height: var(--line-height-body-md);
}

.integration-card__desc {
  margin-top: 6px;
  color: var(--color-neutral-500);

  /* body/md/reg */
  font-family: var(--font-family-primary);
  font-size: var(--font-size-md);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-body-md);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -1px;
  
  /* Limit to approximately 22 characters + ellipsis */
  max-width: 21ch;
}

.integration-card__action__po {
  margin-top: 9px;
  width: 100% !important;
  height: 30px !important;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  padding: 8px 20px;
}

.integration-card__action__po.af-secondary-color-btn {
  height: 30px !important;
  min-width: auto !important;
  width: 100% !important;
}


