.msb {
  position: absolute;
  top: 0;
  bottom: 0;
  pointer-events: none; /* purely visual indicator */
  display: flex;
  align-items: center;
  z-index: 10;
}

.msb-right { right: 0; }
.msb-left { left: 0; }

.msb-track {
  position: relative;
  width: 4px;            /* same as svg */
  border-radius: 999px;  /* just in case */
}

.msb-thumb {
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  display: flex;
  justify-content: center;
  will-change: transform;
  opacity: 0.95;
}
