@import "../Variables/Variables.css";

.save-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.save-modal {
  background: var(--color-neutral-white);
  position: relative;
  border-radius: var(--border-radius-md);
  padding: 24px;
  width: 512px;
  height: 216px auto;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

.save-modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.save-modal-close:hover {
  background-color: var(--color-neutral-100);
}

.save-modal-title {

  margin-bottom: 12px;
  color: var(--color-neutral-1700);
  text-align: center;

  /* heading/h5/bold */
  font-family: var(--font-family-primary);
  font-size: var(--font-size-h5);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-heading-h5);
}

.save-modal-text {

  margin-bottom: 20px;


  color: var(--color-neutral-1000);
  text-align: center;

  /* body/lg/reg */
  font-family: var(--font-family-primary);
  font-size: var(--font-size-lg);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-body-lg, 24px);
  /* 150% */
}

.save-modal-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.save-modal-btn-save {
  padding: 8px 20px;
  border-radius: var(--border-radius-sm);
  width: 222px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: var(--color-primary-700);
  color: var(--color-primary-000);

  font-family: var(--font-family-primary);
  font-size: var(--font-size-lg);
  font-style: normal;
  font-weight: 500;
  line-height: var(--line-height-body-lg);

}

.save-modal-btn-cancel {
  padding: 8px 20px;
  border-radius: var(--border-radius-sm);
  width: 222px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: var(--color-error-100);
  color: var(--color-error-300);

  font-family: var(--font-family-primary);
  font-size: var(--font-size-lg);
  font-style: normal;
  font-weight: 500;
  line-height: var(--line-height-body-lg);
}

/* Disabled button states */
.save-modal-btn-save:disabled,
.save-modal-btn-cancel:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}