@import "../Variables/Variables.css";
.sh-root{
  width: 100%;
  height: 44px;
  padding: 12px 16px;              /* 16px left/right like your figma */
  box-sizing: border-box;

  display: flex;
  align-items: center;

  border-radius: 6px;
  margin-top: -10px;
  background: #FFFFFF;
  position:sticky;
}

.sh-title{
color: var(--color-neutral-800);
font-family: var(--font-family-primary, "IBM Plex Sans");
font-size: var(--font-size-h6, 18px);
font-style: normal;
font-weight: 400;
line-height: var(--line-height-heading-h6, 24px); /* 133.333% */
text-transform: uppercase;

  margin-left: 20px;
  margin-top: 10px;
}
