@import "../../Variables/Variables.css";

.form-tabs {
  display: flex;
  height: 803px;
  width: 500px;
  margin-left: -100px;
  background: var(--color-neutral-white);
}

.tab-buttons {
  display: flex;
  flex-direction: column;
  width: 700px;
  padding: 1.5rem;
  background: var(--color-neutral-white);
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--color-neutral-300);
  height: 803px;
  margin-top: 34px;
}

.tab-button {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
  width: 180px;
  border-radius: 4px;
  color: var(--color-neutral-600);
  white-space: nowrap;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-h6);
  font-style: normal;
  font-weight: 500;
  line-height: var(--line-height-heading-h6);
  transition: all 0.3s ease;
  position: relative;
}

.tab-button:hover {
  color: var(--color-neutral-1400);
}

.tab-button.active {
  color: var(--color-neutral-1400);
  font-weight: 500;
  border-left: 1px solid var(--color-primary-800);
  padding-left: 1rem;
}

.tab-button.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
}

.general-form,
.general-forms {
  flex: 1;
  background: var(--color-neutral-white);
  border-radius: var(--border-radius-sm);
  padding: 1rem;
  width: 850px;
  border: 1px solid var(--color-neutral-300);
  display: flex;
  flex-direction: column;
  height: 803px;
  gap: 0.75rem;
}

.general-forms {
  margin-top: 33px;
}

.general-form {
  margin-top: 33px;
}

.form-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;
}

.heading-content {
  color: var(--color-neutral-1700);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-h4);
  font-style: normal;
  font-weight: 600;
  line-height: var(--line-height-heading-h4);
  margin-left: 10px;
}

.heading-buttons {
  display: flex;
  gap: 1rem;
  margin-right: -30px;
}

.heading-cancel-button {
  background: var(--color-error-100);
  padding: 8px 20px;
  border-radius: var(--border-radius-sm);
  width: 139px;
  color: var(--color-error-400);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-lg);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-body-lg);
}

.heading-cancel-button:hover {
  background: var(--color-neutral-200);
}

.heading-save-button {
  background: var(--color-primary-000);
  padding: 8px 20px;
  border-radius: var(--border-radius-sm);
  width: 139px;
  color: var(--color-primary-800);
  border: 1px solid var(--color-primary-800);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-lg);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-body-lg);
}

.heading-save-button:hover {
  background: var(--color-primary-700);
}

.form-actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-top: 1px solid var(--color-neutral-300);
  margin-top: -70px;
}

.cancelButton,
.saveButton {
  width: 150px;
  height: 40px;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-md);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-body-md);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 12px 24px;
}

.cancelButton {
  background-color: var(--color-error-100);
  color: var(--color-error-400);
  border: none;
}

.saveButton {
  background-color: var(--color-primary-600);
  color: var(--color-neutral-white);
  border: none;
}

.error-message {
  color: var(--color-error-400);
  font-size: 0.875rem;
  margin-top: 4px;
  font-family: var(--font-family-primary);
  font-weight: 400;
}

.edit-product-form {
  margin: 20px auto;
  font-family: var(--font-family-primary);
  background: var(--color-neutral-white);
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0px 18px 54px 0px rgba(0, 0, 0, 0.07),
    0px 2.254px 43.336px 0px rgba(0, 0, 0, 0.00);
  color: var(--color-neutrals-1400);
}

.edit-product-header > h4,
.edit-product-heading {
  color: var(--color-neutral-1700);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-h4);
  font-style: normal;
  font-weight: 600;
  line-height: var(--line-height-heading-h4);
  margin-top: 10px;
  margin-bottom: -20px;
  margin-left: 30px;
}

.edit-form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}

.edit-form-group label {
  display: block;
  color: var(--color-neutral-1400);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-md);
  font-style: normal;
  font-weight: 600;
  line-height: var(--line-height-body-md);
  margin-top: 4px;
}

.edit-form-group input,
.edit-form-group select,
.edit-form-group textarea {
  width: 420px;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid var(--color-neutral-300);
  background-color: var(--color-neutral-100);
  font-family: var(--font-family-primary);
  font-size: var(--font-size--xs);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-body-xs, 24px);
  transition: border-color 0.3s ease;
}

textarea:focus {
  outline: none;
  border-color: black;
}

.metadata-form {
  width: 100%;
}

.metadata-form .form-group input[type="date"] {
  width: 410px;
  padding: 10px 6px;
}

.tag-input-container {
  display: flex;
  align-items: center;
  margin-left: 0;
  gap: 0;
}

.key-input,
.value-input {
  height: 40px;
  padding: 6px 8px;
  border: 1px solid var(--color-neutral-300);
  background-color: var(--color-neutral-100);
  font-size: var(--font-size--xs);
  margin: 0;
  box-sizing: border-box;
}

.key-input {
  width: 140px;
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.value-input {
  width: 140px;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-left: -30px;
}

.tag-input-container button {
  margin-left: 8px;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  background-color: var(--color-primary-600);
  color: white;
  cursor: pointer;
}

.tag-input-container button:hover {
  background-color: var(--color-primary-700);
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
  margin-top: 4px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--color-primary-800);
}

input:checked + .slider:before {
  transform: translateX(21px);
}

.editButtonGroup {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
}
